
<%= link_to "<span>Post new topic</span>".html_safe, topics_new_path, :id => "logo_new_topic", title: "Post New Topic", :width => 96 %><div class="paginate_top"><%= paginate @topics %></div>
<% @topics_anouncement.each do |topic| %>
	<% if topic.title == "Announcement"%>
		<div class="announcement">
		
				
				<table class="tblthreads_header">
					<tr>
						<td id="anntitle">ANNOUNCEMENT</td>
						<td id="annreplies">REPLIES</td>
						<td id="annviews">VIEWS</td>
						<td id="annlastpost">LASTPOST</td>
					</tr>
					<tr class = "threadcell">
						<td id="title"><%= link_to topic.title, topic_path(topic) %><br> by <%= topic.user.username %></td>
						<td id="replies"><%= topic.posts.count%></td>
						<td id="views">N/A</td>
						<td id="lastpost"><%= lastpost_timestamp(topic.id).strftime("%d %B %Y, %H:%M") %></td>
					</tr>			
				</table>
				
		</div>
	<% end %>

<% end %>




<div class="threads">

		
		<table class="tblthreads_header">
			<tr>
				<td id="anntitle">TITLE</td>
				<td id="annreplies">REPLIES</td>
				<td id="annviews">VIEWS</td>
				<td id="annlastpost">LASTPOST</td>
			</tr>
			
			<% @topics.each do |topic| %>
				<% if topic.title != 'Announcement' %>
					<tr class = "threadcell">
						<td id="title"><%= link_to topic.title, topic_path(topic) %><br> by <%= topic.user.username %></td>
						<td id="replies"><%= topic.posts.count%></td>
						<td id="views">N/A</td>
						<td id="lastpost">LASTPOST at <%= lastpost_timestamp(topic.id).strftime("%d %B %Y, %H:%M") %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
		

</div>

<%= link_to "<span>Post new topic</span>".html_safe, topics_new_path, :id => "logo_new_topic", title: "Post New Topic", :width => 96 %><div class="paginate_bot"><%= paginate @topics %></div>