<%= link_to "<span>Post a reply</span>".html_safe, new_post_path(params[:id]), :id => "logo_reply", title: "Post a reply", :width => 96 %><div class="paginate_top"><%= paginate @posts %></div>

<% @posts.each do |post|%>
	<div class = "post_container">
		
			<div class = "vertical">
				<%= username(post.user_id) %>
			</div>
		<div class = "post_content">
			Reply on: <%= post.created_at.strftime("%d %B %Y, %H:%M")%><br /><br />
			
			<p>
				<%= post.posts %>
			</p>
				
		
		</div>
		
	</div>

<% end %>

<%= link_to "<span>Post a reply</span>".html_safe, new_post_path(params[:id]), :id => "logo_reply", title: "Post a reply", :width => 96 %><div class="paginate_bot"><%= paginate @posts %></div>


