<div class="signup_container">
	<div class = "signup_contents">

		<%= form_for @posts do |post|%>
			
			<%= post.label :posts %><br />
			<%= post.text_area :posts, :autofocus => true, :size => "50x10" %><br /><br/>
			<%= post.hidden_field :user_id, :value => current_user.id %>
			<%= post.hidden_field :topic_id, :value => params[:id] %>
			<%= submit_tag "Post" %>
		<% end %>
			
	</div>
</div>

					<%#= post_form.hidden_field :user_id, :value => current_user.id %><br /><br/>