<div class= "header">
	
		<%= image_tag "logo.png", :id=>"logo1"%>
		
</div>

<div class = "signin_nav">
	<nav class = "navheader">
		<%= image_tag "icon_register.gif" %><%= link_to "Register", new_user_registration_path%>
		<%= image_tag "icon_logout.gif" %><%= link_to "Login", new_user_session_path%>
	</nav>
</div>

<%#= link_to "<span>Edit</span>".html_safe, '#', :id => "logo", title: "Edit me", :width => 96 %>