<!DOCTYPE html>
<html>
<head>
  <title>Goforums</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "jquerycycle", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body onkeypress="myFunction(event)">
	<div class="container">
		<%= render 'layouts/header'%>
			
		<% flash.each do |key, value|%>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		
		<%= yield %>
		<%= render 'layouts/footer'%>
	</div>
	
</body>
</html>
